/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@icon-action-name: 'icon-action';
@icon-action-x: 392px;
@icon-action-y: 0px;
@icon-action-offset-x: -392px;
@icon-action-offset-y: 0px;
@icon-action-width: 88px;
@icon-action-height: 102px;
@icon-action-total-width: 480px;
@icon-action-total-height: 377px;
@icon-action-image: '../img/sprite.png';
@icon-action: 392px 0px -392px 0px 88px 102px 480px 377px '../img/sprite.png' 'icon-action';
@icon-adv-calendar-phone-name: 'icon-adv-calendar-phone';
@icon-adv-calendar-phone-x: 97px;
@icon-adv-calendar-phone-y: 197px;
@icon-adv-calendar-phone-offset-x: -97px;
@icon-adv-calendar-phone-offset-y: -197px;
@icon-adv-calendar-phone-width: 40px;
@icon-adv-calendar-phone-height: 40px;
@icon-adv-calendar-phone-total-width: 480px;
@icon-adv-calendar-phone-total-height: 377px;
@icon-adv-calendar-phone-image: '../img/sprite.png';
@icon-adv-calendar-phone: 97px 197px -97px -197px 40px 40px 480px 377px '../img/sprite.png' 'icon-adv-calendar-phone';
@icon-adv-calendar-name: 'icon-adv-calendar';
@icon-adv-calendar-x: 0px;
@icon-adv-calendar-y: 0px;
@icon-adv-calendar-offset-x: 0px;
@icon-adv-calendar-offset-y: 0px;
@icon-adv-calendar-width: 98px;
@icon-adv-calendar-height: 99px;
@icon-adv-calendar-total-width: 480px;
@icon-adv-calendar-total-height: 377px;
@icon-adv-calendar-image: '../img/sprite.png';
@icon-adv-calendar: 0px 0px 0px 0px 98px 99px 480px 377px '../img/sprite.png' 'icon-adv-calendar';
@icon-adv-cap-phone-name: 'icon-adv-cap-phone';
@icon-adv-cap-phone-x: 97px;
@icon-adv-cap-phone-y: 237px;
@icon-adv-cap-phone-offset-x: -97px;
@icon-adv-cap-phone-offset-y: -237px;
@icon-adv-cap-phone-width: 40px;
@icon-adv-cap-phone-height: 40px;
@icon-adv-cap-phone-total-width: 480px;
@icon-adv-cap-phone-total-height: 377px;
@icon-adv-cap-phone-image: '../img/sprite.png';
@icon-adv-cap-phone: 97px 237px -97px -237px 40px 40px 480px 377px '../img/sprite.png' 'icon-adv-cap-phone';
@icon-adv-cap-name: 'icon-adv-cap';
@icon-adv-cap-x: 98px;
@icon-adv-cap-y: 99px;
@icon-adv-cap-offset-x: -98px;
@icon-adv-cap-offset-y: -99px;
@icon-adv-cap-width: 98px;
@icon-adv-cap-height: 98px;
@icon-adv-cap-total-width: 480px;
@icon-adv-cap-total-height: 377px;
@icon-adv-cap-image: '../img/sprite.png';
@icon-adv-cap: 98px 99px -98px -99px 98px 98px 480px 377px '../img/sprite.png' 'icon-adv-cap';
@icon-adv-dish-phone-name: 'icon-adv-dish-phone';
@icon-adv-dish-phone-x: 337px;
@icon-adv-dish-phone-y: 197px;
@icon-adv-dish-phone-offset-x: -337px;
@icon-adv-dish-phone-offset-y: -197px;
@icon-adv-dish-phone-width: 40px;
@icon-adv-dish-phone-height: 40px;
@icon-adv-dish-phone-total-width: 480px;
@icon-adv-dish-phone-total-height: 377px;
@icon-adv-dish-phone-image: '../img/sprite.png';
@icon-adv-dish-phone: 337px 197px -337px -197px 40px 40px 480px 377px '../img/sprite.png' 'icon-adv-dish-phone';
@icon-adv-dish-name: 'icon-adv-dish';
@icon-adv-dish-x: 294px;
@icon-adv-dish-y: 0px;
@icon-adv-dish-offset-x: -294px;
@icon-adv-dish-offset-y: 0px;
@icon-adv-dish-width: 98px;
@icon-adv-dish-height: 98px;
@icon-adv-dish-total-width: 480px;
@icon-adv-dish-total-height: 377px;
@icon-adv-dish-image: '../img/sprite.png';
@icon-adv-dish: 294px 0px -294px 0px 98px 98px 480px 377px '../img/sprite.png' 'icon-adv-dish';
@icon-adv-doc-phone-name: 'icon-adv-doc-phone';
@icon-adv-doc-phone-x: 217px;
@icon-adv-doc-phone-y: 197px;
@icon-adv-doc-phone-offset-x: -217px;
@icon-adv-doc-phone-offset-y: -197px;
@icon-adv-doc-phone-width: 40px;
@icon-adv-doc-phone-height: 40px;
@icon-adv-doc-phone-total-width: 480px;
@icon-adv-doc-phone-total-height: 377px;
@icon-adv-doc-phone-image: '../img/sprite.png';
@icon-adv-doc-phone: 217px 197px -217px -197px 40px 40px 480px 377px '../img/sprite.png' 'icon-adv-doc-phone';
@icon-adv-doc-name: 'icon-adv-doc';
@icon-adv-doc-x: 98px;
@icon-adv-doc-y: 0px;
@icon-adv-doc-offset-x: -98px;
@icon-adv-doc-offset-y: 0px;
@icon-adv-doc-width: 98px;
@icon-adv-doc-height: 99px;
@icon-adv-doc-total-width: 480px;
@icon-adv-doc-total-height: 377px;
@icon-adv-doc-image: '../img/sprite.png';
@icon-adv-doc: 98px 0px -98px 0px 98px 99px 480px 377px '../img/sprite.png' 'icon-adv-doc';
@icon-adv-hand-phone-name: 'icon-adv-hand-phone';
@icon-adv-hand-phone-x: 297px;
@icon-adv-hand-phone-y: 197px;
@icon-adv-hand-phone-offset-x: -297px;
@icon-adv-hand-phone-offset-y: -197px;
@icon-adv-hand-phone-width: 40px;
@icon-adv-hand-phone-height: 40px;
@icon-adv-hand-phone-total-width: 480px;
@icon-adv-hand-phone-total-height: 377px;
@icon-adv-hand-phone-image: '../img/sprite.png';
@icon-adv-hand-phone: 297px 197px -297px -197px 40px 40px 480px 377px '../img/sprite.png' 'icon-adv-hand-phone';
@icon-adv-hand-name: 'icon-adv-hand';
@icon-adv-hand-x: 0px;
@icon-adv-hand-y: 197px;
@icon-adv-hand-offset-x: 0px;
@icon-adv-hand-offset-y: -197px;
@icon-adv-hand-width: 97px;
@icon-adv-hand-height: 97px;
@icon-adv-hand-total-width: 480px;
@icon-adv-hand-total-height: 377px;
@icon-adv-hand-image: '../img/sprite.png';
@icon-adv-hand: 0px 197px 0px -197px 97px 97px 480px 377px '../img/sprite.png' 'icon-adv-hand';
@icon-adv-madal-phone-name: 'icon-adv-madal-phone';
@icon-adv-madal-phone-x: 257px;
@icon-adv-madal-phone-y: 197px;
@icon-adv-madal-phone-offset-x: -257px;
@icon-adv-madal-phone-offset-y: -197px;
@icon-adv-madal-phone-width: 40px;
@icon-adv-madal-phone-height: 40px;
@icon-adv-madal-phone-total-width: 480px;
@icon-adv-madal-phone-total-height: 377px;
@icon-adv-madal-phone-image: '../img/sprite.png';
@icon-adv-madal-phone: 257px 197px -257px -197px 40px 40px 480px 377px '../img/sprite.png' 'icon-adv-madal-phone';
@icon-adv-madal-name: 'icon-adv-madal';
@icon-adv-madal-x: 294px;
@icon-adv-madal-y: 98px;
@icon-adv-madal-offset-x: -294px;
@icon-adv-madal-offset-y: -98px;
@icon-adv-madal-width: 98px;
@icon-adv-madal-height: 98px;
@icon-adv-madal-total-width: 480px;
@icon-adv-madal-total-height: 377px;
@icon-adv-madal-image: '../img/sprite.png';
@icon-adv-madal: 294px 98px -294px -98px 98px 98px 480px 377px '../img/sprite.png' 'icon-adv-madal';
@icon-adv-purse-phone-name: 'icon-adv-purse-phone';
@icon-adv-purse-phone-x: 177px;
@icon-adv-purse-phone-y: 197px;
@icon-adv-purse-phone-offset-x: -177px;
@icon-adv-purse-phone-offset-y: -197px;
@icon-adv-purse-phone-width: 40px;
@icon-adv-purse-phone-height: 40px;
@icon-adv-purse-phone-total-width: 480px;
@icon-adv-purse-phone-total-height: 377px;
@icon-adv-purse-phone-image: '../img/sprite.png';
@icon-adv-purse-phone: 177px 197px -177px -197px 40px 40px 480px 377px '../img/sprite.png' 'icon-adv-purse-phone';
@icon-adv-purse-name: 'icon-adv-purse';
@icon-adv-purse-x: 196px;
@icon-adv-purse-y: 99px;
@icon-adv-purse-offset-x: -196px;
@icon-adv-purse-offset-y: -99px;
@icon-adv-purse-width: 98px;
@icon-adv-purse-height: 98px;
@icon-adv-purse-total-width: 480px;
@icon-adv-purse-total-height: 377px;
@icon-adv-purse-image: '../img/sprite.png';
@icon-adv-purse: 196px 99px -196px -99px 98px 98px 480px 377px '../img/sprite.png' 'icon-adv-purse';
@icon-adv-puzle-phone-name: 'icon-adv-puzle-phone';
@icon-adv-puzle-phone-x: 432px;
@icon-adv-puzle-phone-y: 187px;
@icon-adv-puzle-phone-offset-x: -432px;
@icon-adv-puzle-phone-offset-y: -187px;
@icon-adv-puzle-phone-width: 40px;
@icon-adv-puzle-phone-height: 40px;
@icon-adv-puzle-phone-total-width: 480px;
@icon-adv-puzle-phone-total-height: 377px;
@icon-adv-puzle-phone-image: '../img/sprite.png';
@icon-adv-puzle-phone: 432px 187px -432px -187px 40px 40px 480px 377px '../img/sprite.png' 'icon-adv-puzle-phone';
@icon-adv-puzle-name: 'icon-adv-puzle';
@icon-adv-puzle-x: 196px;
@icon-adv-puzle-y: 0px;
@icon-adv-puzle-offset-x: -196px;
@icon-adv-puzle-offset-y: 0px;
@icon-adv-puzle-width: 98px;
@icon-adv-puzle-height: 98px;
@icon-adv-puzle-total-width: 480px;
@icon-adv-puzle-total-height: 377px;
@icon-adv-puzle-image: '../img/sprite.png';
@icon-adv-puzle: 196px 0px -196px 0px 98px 98px 480px 377px '../img/sprite.png' 'icon-adv-puzle';
@icon-adv-tool-phone-name: 'icon-adv-tool-phone';
@icon-adv-tool-phone-x: 137px;
@icon-adv-tool-phone-y: 197px;
@icon-adv-tool-phone-offset-x: -137px;
@icon-adv-tool-phone-offset-y: -197px;
@icon-adv-tool-phone-width: 40px;
@icon-adv-tool-phone-height: 40px;
@icon-adv-tool-phone-total-width: 480px;
@icon-adv-tool-phone-total-height: 377px;
@icon-adv-tool-phone-image: '../img/sprite.png';
@icon-adv-tool-phone: 137px 197px -137px -197px 40px 40px 480px 377px '../img/sprite.png' 'icon-adv-tool-phone';
@icon-adv-tool-name: 'icon-adv-tool';
@icon-adv-tool-x: 0px;
@icon-adv-tool-y: 99px;
@icon-adv-tool-offset-x: 0px;
@icon-adv-tool-offset-y: -99px;
@icon-adv-tool-width: 98px;
@icon-adv-tool-height: 98px;
@icon-adv-tool-total-width: 480px;
@icon-adv-tool-total-height: 377px;
@icon-adv-tool-image: '../img/sprite.png';
@icon-adv-tool: 0px 99px 0px -99px 98px 98px 480px 377px '../img/sprite.png' 'icon-adv-tool';
@icon-back-menu-name: 'icon-back-menu';
@icon-back-menu-x: 434px;
@icon-back-menu-y: 264px;
@icon-back-menu-offset-x: -434px;
@icon-back-menu-offset-y: -264px;
@icon-back-menu-width: 31px;
@icon-back-menu-height: 21px;
@icon-back-menu-total-width: 480px;
@icon-back-menu-total-height: 377px;
@icon-back-menu-image: '../img/sprite.png';
@icon-back-menu: 434px 264px -434px -264px 31px 21px 480px 377px '../img/sprite.png' 'icon-back-menu';
@icon-carousel-left-name: 'icon-carousel-left';
@icon-carousel-left-x: 17px;
@icon-carousel-left-y: 331px;
@icon-carousel-left-offset-x: -17px;
@icon-carousel-left-offset-y: -331px;
@icon-carousel-left-width: 17px;
@icon-carousel-left-height: 46px;
@icon-carousel-left-total-width: 480px;
@icon-carousel-left-total-height: 377px;
@icon-carousel-left-image: '../img/sprite.png';
@icon-carousel-left: 17px 331px -17px -331px 17px 46px 480px 377px '../img/sprite.png' 'icon-carousel-left';
@icon-carousel-right-name: 'icon-carousel-right';
@icon-carousel-right-x: 0px;
@icon-carousel-right-y: 331px;
@icon-carousel-right-offset-x: 0px;
@icon-carousel-right-offset-y: -331px;
@icon-carousel-right-width: 17px;
@icon-carousel-right-height: 46px;
@icon-carousel-right-total-width: 480px;
@icon-carousel-right-total-height: 377px;
@icon-carousel-right-image: '../img/sprite.png';
@icon-carousel-right: 0px 331px 0px -331px 17px 46px 480px 377px '../img/sprite.png' 'icon-carousel-right';
@icon-flag-phone-name: 'icon-flag-phone';
@icon-flag-phone-x: 392px;
@icon-flag-phone-y: 187px;
@icon-flag-phone-offset-x: -392px;
@icon-flag-phone-offset-y: -187px;
@icon-flag-phone-width: 40px;
@icon-flag-phone-height: 45px;
@icon-flag-phone-total-width: 480px;
@icon-flag-phone-total-height: 377px;
@icon-flag-phone-image: '../img/sprite.png';
@icon-flag-phone: 392px 187px -392px -187px 40px 45px 480px 377px '../img/sprite.png' 'icon-flag-phone';
@icon-flag-name: 'icon-flag';
@icon-flag-x: 392px;
@icon-flag-y: 102px;
@icon-flag-offset-x: -392px;
@icon-flag-offset-y: -102px;
@icon-flag-width: 75px;
@icon-flag-height: 85px;
@icon-flag-total-width: 480px;
@icon-flag-total-height: 377px;
@icon-flag-image: '../img/sprite.png';
@icon-flag: 392px 102px -392px -102px 75px 85px 480px 377px '../img/sprite.png' 'icon-flag';
@icon-mail-name: 'icon-mail';
@icon-mail-x: 219px;
@icon-mail-y: 237px;
@icon-mail-offset-x: -219px;
@icon-mail-offset-y: -237px;
@icon-mail-width: 20px;
@icon-mail-height: 15px;
@icon-mail-total-width: 480px;
@icon-mail-total-height: 377px;
@icon-mail-image: '../img/sprite.png';
@icon-mail: 219px 237px -219px -237px 20px 15px 480px 377px '../img/sprite.png' 'icon-mail';
@icon-map-name: 'icon-map';
@icon-map-x: 377px;
@icon-map-y: 197px;
@icon-map-offset-x: -377px;
@icon-map-offset-y: -197px;
@icon-map-width: 15px;
@icon-map-height: 24px;
@icon-map-total-width: 480px;
@icon-map-total-height: 377px;
@icon-map-image: '../img/sprite.png';
@icon-map: 377px 197px -377px -197px 15px 24px 480px 377px '../img/sprite.png' 'icon-map';
@icon-menu-burger-name: 'icon-menu-burger';
@icon-menu-burger-x: 392px;
@icon-menu-burger-y: 232px;
@icon-menu-burger-offset-x: -392px;
@icon-menu-burger-offset-y: -232px;
@icon-menu-burger-width: 52px;
@icon-menu-burger-height: 32px;
@icon-menu-burger-total-width: 480px;
@icon-menu-burger-total-height: 377px;
@icon-menu-burger-image: '../img/sprite.png';
@icon-menu-burger: 392px 232px -392px -232px 52px 32px 480px 377px '../img/sprite.png' 'icon-menu-burger';
@icon-modal-close-name: 'icon-modal-close';
@icon-modal-close-x: 444px;
@icon-modal-close-y: 232px;
@icon-modal-close-offset-x: -444px;
@icon-modal-close-offset-y: -232px;
@icon-modal-close-width: 28px;
@icon-modal-close-height: 28px;
@icon-modal-close-total-width: 480px;
@icon-modal-close-total-height: 377px;
@icon-modal-close-image: '../img/sprite.png';
@icon-modal-close: 444px 232px -444px -232px 28px 28px 480px 377px '../img/sprite.png' 'icon-modal-close';
@icon-pay-card-name: 'icon-pay-card';
@icon-pay-card-x: 392px;
@icon-pay-card-y: 264px;
@icon-pay-card-offset-x: -392px;
@icon-pay-card-offset-y: -264px;
@icon-pay-card-width: 42px;
@icon-pay-card-height: 28px;
@icon-pay-card-total-width: 480px;
@icon-pay-card-total-height: 377px;
@icon-pay-card-image: '../img/sprite.png';
@icon-pay-card: 392px 264px -392px -264px 42px 28px 480px 377px '../img/sprite.png' 'icon-pay-card';
@icon-pay-nomoney-name: 'icon-pay-nomoney';
@icon-pay-nomoney-x: 173px;
@icon-pay-nomoney-y: 237px;
@icon-pay-nomoney-offset-x: -173px;
@icon-pay-nomoney-offset-y: -237px;
@icon-pay-nomoney-width: 30px;
@icon-pay-nomoney-height: 36px;
@icon-pay-nomoney-total-width: 480px;
@icon-pay-nomoney-total-height: 377px;
@icon-pay-nomoney-image: '../img/sprite.png';
@icon-pay-nomoney: 173px 237px -173px -237px 30px 36px 480px 377px '../img/sprite.png' 'icon-pay-nomoney';
@icon-pay-percent-name: 'icon-pay-percent';
@icon-pay-percent-x: 0px;
@icon-pay-percent-y: 294px;
@icon-pay-percent-offset-x: 0px;
@icon-pay-percent-offset-y: -294px;
@icon-pay-percent-width: 32px;
@icon-pay-percent-height: 37px;
@icon-pay-percent-total-width: 480px;
@icon-pay-percent-total-height: 377px;
@icon-pay-percent-image: '../img/sprite.png';
@icon-pay-percent: 0px 294px 0px -294px 32px 37px 480px 377px '../img/sprite.png' 'icon-pay-percent';
@icon-pay-purse-name: 'icon-pay-purse';
@icon-pay-purse-x: 137px;
@icon-pay-purse-y: 237px;
@icon-pay-purse-offset-x: -137px;
@icon-pay-purse-offset-y: -237px;
@icon-pay-purse-width: 36px;
@icon-pay-purse-height: 36px;
@icon-pay-purse-total-width: 480px;
@icon-pay-purse-total-height: 377px;
@icon-pay-purse-image: '../img/sprite.png';
@icon-pay-purse: 137px 237px -137px -237px 36px 36px 480px 377px '../img/sprite.png' 'icon-pay-purse';
@icon-phone-name: 'icon-phone';
@icon-phone-x: 203px;
@icon-phone-y: 237px;
@icon-phone-offset-x: -203px;
@icon-phone-offset-y: -237px;
@icon-phone-width: 16px;
@icon-phone-height: 25px;
@icon-phone-total-width: 480px;
@icon-phone-total-height: 377px;
@icon-phone-image: '../img/sprite.png';
@icon-phone: 203px 237px -203px -237px 16px 25px 480px 377px '../img/sprite.png' 'icon-phone';
@spritesheet-width: 480px;
@spritesheet-height: 377px;
@spritesheet-image: '../img/sprite.png';
@spritesheet-sprites: @icon-action @icon-adv-calendar-phone @icon-adv-calendar @icon-adv-cap-phone @icon-adv-cap @icon-adv-dish-phone @icon-adv-dish @icon-adv-doc-phone @icon-adv-doc @icon-adv-hand-phone @icon-adv-hand @icon-adv-madal-phone @icon-adv-madal @icon-adv-purse-phone @icon-adv-purse @icon-adv-puzle-phone @icon-adv-puzle @icon-adv-tool-phone @icon-adv-tool @icon-back-menu @icon-carousel-left @icon-carousel-right @icon-flag-phone @icon-flag @icon-mail @icon-map @icon-menu-burger @icon-modal-close @icon-pay-card @icon-pay-nomoney @icon-pay-percent @icon-pay-purse @icon-phone;
@spritesheet: 480px 377px '../img/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
